alias la='ls -hAlFiG'
alias li='ls -hAlFiG'
alias ll="ls -logh"
alias rm="rm -i"
alias mv="mv -i"
alias du="du -hs"
alias df="df -h"
alias grep="grep -i"
alias downcase="rename 'y/A-Z/a-z/' * -f"
alias op="open"
alias cl="clear"
alias cll="clear; ll"
alias ..="cd .."
alias ...='cd ../../'
alias ....='cd ../../../'
alias -- -='cd -'

# Applications
alias f="open . -a finder"
alias vi="mvim --remote-tab-silent"
alias ql="qlmanage -p"
alias cal='gcal --starting-day=1'
alias sf="open -a Safari"
alias vlc="open -a vlc"

# Directories
alias dsk="cd ~/Desktop/"
alias doc="cd ~/Documents/"
alias dw="cd ~/Downloads/"
alias mov="cd ~/Movies/"
alias vl="cd /Volumes/"

alias ga='git add -A'
alias gl='git llog'
alias glog='git log'
alias gs='git status'
alias gd='git diff'
alias gdi='git di'
alias gc='git commit'
alias gca='git commit -a'
alias gb='git branch'
alias go='git checkout'
alias gra='git remote add'
alias grr='git remote rm'
alias gps='git push'
alias gpb='git push origin `git rev-parse --abbrev-ref HEAD`'
alias gpl='git pull'
alias gcl='git clone'
alias gta='git tag -a -m'
alias gf='git reflog'
 

mkcd () { mkdir -p "$@" && cd "$@"; }

