[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-snipmate"]
        path = .vim/bundle/vim-snipmate
        url = git://github.com/garbas/vim-snipmate
[submodule ".vim/bundle/vim-jquery"]
	path = .vim/bundle/vim-jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule ".vim/bundle/supertab"]
        path = .vim/bundle/supertab
        url = git://github.com/ervandew/supertab
[submodule ".vim/bundle/taglist.vim"]
        path = .vim/bundle/taglist.vim
        url = git://github.com/vim-scripts/taglist.vim
        ignore = dirty
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/tlib_vim"]
        path = .vim/bundle/tlib_vim
        url = https://github.com/tomtom/tlib_vim
[submodule ".vim/bundle/vim-addon-mw-utils"]
        path = .vim/bundle/vim-addon-mw-utils
        url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule ".vim/bundle/vim-colors-solarized"]
        path = .vim/bundle/vim-colors-solarized
        url = git://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-numbertoggle"]
        path = .vim/bundle/vim-numbertoggle
        url = git://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule ".vim/bundle/vim-ruby"]
        path = .vim/bundle/vim-ruby
        url = git://github.com/vim-ruby/vim-ruby
[submodule ".vim/bundle/vim-seek"]
        path = .vim/bundle/vim-seek
        url = git://github.com/goldfeld/vim-seek
[submodule ".vim/bundle/vim-indexed-search"]
	path = .vim/bundle/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/vim-scripts/tlib
        ignore = dirty
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
        ignore = dirty
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-jsbeautify"]
	path = .vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
        ignore = dirty
[submodule ".vim/bundle/vim-textobj-rubyblock"]
	path = .vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
        ignore = dirty
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = https://github.com/rk1/snipmate-snippets.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/jshint2"]
	path = .vim/bundle/jshint2
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
