[color]
    ui = true
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/vim
[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
    llog = "log --graph --decorate --oneline --abbrev-commit --all"
[merge]
    tool = araxis
[diff] 
    tool = araxis
[user]
	email = rk1@example.com
	name = rk1
