[color]
    ui = true
[core]
	excludesfile = /Users/rossen/.gitignore_global
    editor = /usr/bin/vim
[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
    llog = "log --graph --decorate --oneline --abbrev-commit --all"
    di = "diff -b"
[merge]
    tool = Kaleidoscope
[diff] 
    tool = Kaleidoscope
[user]
    email = rk1@example.com
    name = rk1
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
